body, body * {
    display: block;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;  
}

/* .app> * {
    border: 2px dashed black;    
} */

.app{
    background: #2B3E8A;
    width: 100%;
    height: 100vh;
    --header-height: 15%;
    --player-height: 10vh;
    --timeline-height: 6px;
    --timeline-height-hovered: 25px;
    --content-height: calc(100% - var(--header-height) - var(--player-height));
}


.player{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: var(--player-height);
    background: #C4D7FF;
    display: flex;
    justify-content: space-between;
}


.player__timeline{
    position: fixed;
    bottom: var(--player-height);
    width: 100%;
    height: var(--timeline-height);
    transition: height 200ms, bottom 200ms;
}

.player__timeline_hovered{
    height: var(--timeline-height-hovered);
}


.progress{
    background: #8BDDBD;
    cursor: pointer;
    user-select: none;
}
.progress__load
,.progress__play {
    height: 100%;
    position: absolute;
}
.progress__load{
    background:/*  #2B3E8A; */#DEF1FF;
    z-index: 9;
}

.progress__play{
    background: #FE7B4B;
    z-index: 10;
    transition: width 300ms;
}

.progress__current
,.progress__total {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 11;
    opacity: 0; 
    transition: opacity 50ms 0ms;
    color:  black;
    height: 100%;
}
.progress__current{
    left: 0;
}
.progress__total{
    right: 0;
}
.player__timeline_hovered  .progress__current
,.player__timeline_hovered .progress__total
{
    opacity: 1;
    transition: opacity 150ms 100ms;
    
}

.player__control{
    height: 6vh;
    width: 6vh;
    background: #2B3E8A;
    border: 1px dashed black;
    cursor: pointer;
    margin: 1vh;
    transition: background 200ms   ;
}

.player__control:hover{
    background: #FE7B4B;
}

.player__controls{
    height: 100%;
    width: fit-content;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow:0;
}

.player__controls_left{
    justify-content: flex-start;
}


.player__controls_right{
    justify-content: flex-end;
}



.player__core{
    position: absolute;
}



.tracks{
    width: 100%;
    background: #44BD90;
    height: var(--content-height);

}




.header{
    height: var(--header-height);
    background: #C4D7FF;
}
